html, body {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Manrope', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  --bg-color: #fafafa;
  --color-text-prim: #333333;
  --color-text-sec: #666666;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: var(--bg-color);
  color: var(--color-text-prim);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
